<%- include("../../../modules/objetForEach") %>
<%- include("../../../parties/tête", { "titre": service.nom, }) %>
<%- include("../../../parties/en‐tête") %>
		<main><%-
			include("../../../parties/filAriane", {
				"liens": [ "accueil", "annuaire", "annuaireOrganisations", { "adresse": "/organisation/" + service.organisation.nomUtilisateur, "intitulé": service.organisation.raisonSociale, }, { "adresse": "/organisation/service/" + service._id, "intitulé": service.nom, }, { "adresse": "/organisation/service/" + service.nom + "/modifier", "intitulé": langue.filAriane.modification, }, ],
			}) %><%

			if (locals.résultat) {
				if (locals.résultat.validé) { %>
					<div class="notification is-success">
						<p>
							<%= langue.formulaire.confirmations.modificationService %>
						</p>
					</div><%
				}

				else { %>
					<div class="notification is-danger">
						<p>
							<%= langue.formulaire.infirmations.modificationService %>
						</p>
						<p>
							<%= langue.erreurs?.[locals.résultat.erreur] ?? langue.erreurs["ERREUR_INCONNUE"] %>
						</p>
					</div><%
				}
			} %>

			<div class="bloc"><%-
				include("service-navigation", { "page": "compte", }) %><%

				if (suppression) { %>
					<section class="fiche container">
						<form action="/organisation/service/<%= service._id %>/supprimer" method="POST">
							<input type="hidden" name="_csrf" value="<%= jetonCSRF %>" />

							<div class="is-flex-centered">
								<button class="button is-danger">
									<%= langue.formulaire.actions.suppressionPage %>
								</button>
							</div>
						</form>
					</section><%
				} %>
			</div>
		</main>
<%- include("../../../parties/pied") %>