<%- include("objetForEach") %>
<%- include("tête", {
	"titre": "Inscription · Les anciens d’abord",
}) -%>
<%- include("en‐tête", {
	"estConnecté": false,
}) -%>
		<main>
			<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
				<ul>
					<li>
						<a href="/">
							Accueil
						</a>
					</li>
					<li>
						<a href="/annuaire">
							Annuaire
						</a>
					</li>
					<li class="is-active">
						<a aria-current="page">
							Membres
						</a>
					</li>
				</ul>
			</nav>

			<section class="container">
				<h1 class="title is-3 has-text-centered">
					Annuaire
				</h1>
				<form action="/annuaire/membres" method="POST">
					<label class="label" for="statut">
						Rechercher…
					</label>

					<div class="field has-addons">
						<p class="control">
							<span class="select">
								<select name="statut" id="statut">
									<option value="" selected="selected"></option>
									<option value="prénom">Prénom</option>
									<option value="nom">Nom</option>
									<option value="poste">Poste</option>
									<option value="établissement">Établissement</option>
								</select>
							</span>
						</p>
						<p class="control">
							<input class="input" type="text" placeholder="Recherche…">
						</p>
					</div>

					<fieldset class="fieldset">
						<legend>
							Filtrer…
						</legend>

						<div class="field">
							<label class="label" for="statut">
								Statut
							</label>
							<div class="control">
								<div class="select">
									<select name="statut" id="statut">
										<option value="" selected="selected"></option>
										<option value="0">Ancien·ne étudiant·e</option>
										<option value="1">Étudiant·e</option>
										<option value="2">Enseignant·e</option>
									</select>
								</div>
							</div>
						</div>

						<div class="field">
							<label class="label" for="formation">
								Formation
							</label>
							<div class="control">
								<div class="select">
									<select name="formation" id="formation">
										<option value="" selected="selected"></option>
										<option value="DUT Informatique">DUT Informatique</option>
										<option value="Licence générale L3">Licence générale L3</option>
										<option value="Licence pro. Web">Licence pro. Web</option>
										<option value="Polytech">Polytech</option>
									</select>
								</div>
							</div>
						</div>

						<div class="field">
							<label class="label" for="promotion">
								Promotion
							</label>
							<div class="control">
								<div class="select">
									<select name="promotion" id="promotion">
										<option value="" selected="selected"></option>
										<option value="2020">2020</option>
										<option value="2019">2019</option>
										<option value="2018">2018</option>
										<option value="2017">2017</option>
										<option value="2016">2016</option>
										<option value="2015">2015</option>
									</select>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="field">
						<label class="label" for="ordreTri">
							Tri…
						</label>
						<div class="control has-text-centered">
							<input class="is-checkradio" type="radio" name="ordreTri" id="alphabétique" checked="checked">
							<label class="radio" for="alphabétique">
								Alphabétique
							</label>
							<input class="is-checkradio" type="radio" name="ordreTri" id="antiAlphabétique">
							<label class="radio" for="antiAlphabétique">
								Anti‐alphabétique
							</label>
						</div>
					</div>

					<div class="field is-grouped is-grouped-centered">
						<div class="control">
							<button class="button is-link">Valider</button>
						</div>
					</div>
				</form>
			</section>

			<hr class="hr" />

			<section class="container">
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="pagination-list">
						<li>
							<a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 2">2</a>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 3">3</a>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 4">4</a>
						</li>
						<li>
							<span class="pagination-ellipsis">…</span>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 15">15</a>
						</li>
					</ul>
				</nav>
			</section>

			<section class="container content annuaire"><%
				membres.forEach(membre => { %>
					<div class="card carte">
						<div class="card-image">
							<figure class="image">
								<img src="https://via.placeholder.com/256" alt="Placeholder image" class="<%= membre.rôle %>" />
							</figure>
						</div>
						<div class="card-content">
							<p class="title is-4 is-spaced">
								<a href="/membre/<%= membre.nomUtilisateur %>">
									<%= membre.prénom %> <%= membre.nom %>
								</a>
							</p>
							<p class="subtitle is-4 is-unspaced">
								<%= membre.poste %>
							</p>
							<p class="subtitle is-5">
								<%= membre.établissement %>
							</p>
						</div>
					</div>
					<%
				}) %>
			</section>

			<section class="container">
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="pagination-list">
						<li>
							<a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 2">2</a>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 3">3</a>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 4">4</a>
						</li>
						<li>
							<span class="pagination-ellipsis">…</span>
						</li>
						<li>
							<a class="pagination-link" aria-label="Page 15">15</a>
						</li>
					</ul>
				</nav>
			</section>
		</main>
<%- include("pied", {
	"langue": langue,
}) %>