<%- include("objetForEach") %>
<%- include("tête", {
	"titre": raisonSociale + " · Les anciens d’abord",
}) -%>
<%- include("en‐tête", {
	"estConnecté": false,
}) -%>
		<main>
			<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
				<ul>
					<li>
						<a href="/">
							Accueil
						</a>
					</li>
					<li>
						<a href="/annuaire">
							Annuaire
						</a>
					</li>
					<li>
						<a href="/annuaire/organisations">
							Organisations
						</a>
					</li>
					<li class="is-active">
						<a aria-current="page">
							<%= raisonSociale %>
						</a>
					</li>
				</ul>
			</nav>

			<section class="container fiche">
				<div class="plus">
					<a class="icon is-medium">
						<i class="fas fa-user-edit"></i>
					</a>
				</div>
				<div class="carte">
					<img src="/ressources/images/membres/<%= nomOrganisation %>" class="<%= rôle %>" alt="Logotype de <%= raisonSociale %>" />
					<div>
						<h1 class="title is-2">
							<%= raisonSociale %>
						</h1>
						<h2 class="title is-3 is-spaced">
							<%= secteurActivité %>
						</h2>
						<h2 class="subtitle is-3">
							<%= effectif %> salariés
						</h2>
						<a href="/annuaire?organisation=<%= id %>">
							<span class="icon is-small">
								<i class="fas fa-chevron-right"></i>
							</span>
							Voir les salariés membres
						</a>
					</div>
				</div><%
				if (linkedIn || siteProfessionnel) { %>
					<div class="liens"><%
						if (linkedIn) { %>
							<div class="lien">
								<a href="<%= linkedIn %>" target="blank">
									<span class="icon is-small">
										<i class="fab fa-linkedin"></i>
									</span>
									<%= linkedIn %>
								</a>
							</div><%
						}
						if (siteProfessionnel) { %>
							<div class="lien">
								<a href="<%= siteProfessionnel %>" target="blank">
									<span class="icon is-small">
										<i class="fas fa-globe"></i>
									</span>
									<%= siteProfessionnel %>
								</a>
							</div><%
						} %>
					</div><%
				}
				if (villes.length > 0) { %>
					<div class="villes">
						<% villes.forEach(function (ville) { %>
							<div class="ville">
								<p>
									<span class="icon is-small">
										<i class="fas fa-map-marker-alt"></i>
									</span>
									<%= ville %>
								</p>
							</div>
						<% }) %>
					</div><%
				}
				if (offres.length > 0) { %>
					<div class="offres">
						<h1 class="title is-3 is-spaced">
							Offres
						</h1><%
						offres.forEach(function (offre) { %>
							<div class="offre">
								<h1 class="subtitle is-4 is-unspaced">
									<%= offre.intitulé %>
								</h1>
								<h2 class="subtitle is-5">
									<%= offre.type %> · <%= offre.ville %>
								</h2>
								<p>
									<a href="/offre/<%= offre.identifiantOffre %>/plus">
										<span class="icon is-medium">
											<i class="fas fa-file-alt"></i>
										</span>
										en lire plus
									</a>
								</p>
								<p>
									<a href="/offre/<%= offre.identifiantOffre %>/candidats">
										<span class="icon is-medium">
											<i class="fas fa-chevron-right"></i>
										</span>
										voir les candidats
									</a>
								</p>
							</div><%
						}) %>
					</div><%
				} %>
			</section>
		</main>
<%- include("pied") %>